
@{
    ViewData["Title"] = "Thank You";
}

<div class="container d-flex justify-content-center align-items-center" style="height:80vh">
    <div class="row card">
        <div class="col p-5">
            <p class="lead">Thanks for doing business with as 👍 ...</p>
            <a class="btn button" asp-action="HomePage" asp-controller="Home">continue shoping</a>
        </div>
    </div>
</div>