@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container px-5 my-4 align-content-center">
    <h1 class="mb-4">Password</h1>
    <form id="change-password-form" method="post">
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-7">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.OldPassword">Old Password</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter Old Password" asp-for="Input.OldPassword" >
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.NewPassword">New Password</label>
                            <input class="form-control" id="inputEmailAddress" type="password" placeholder="Enter new password" asp-for="Input.NewPassword">
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input class="form-control" id="inputEmailAddress" type="password" placeholder="Confirm new password" asp-for="Input.ConfirmPassword">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn button">Update password</button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
