@model Abocar.Models.Message

<div class="message-details mt-3">
    <h3>@Model.Subject</h3>
    <p><strong>Sent At:</strong> @Model.SentAt.ToString("dd MMM yyyy HH:mm")</p>
    <p><strong>From:</strong></p>
    <p><strong>Message:</strong></p>
    <p>@Model.Body</p>
</div>
